node_modules
.DS_Store
.idea/
.gradle/
*.iml
*.iws
*.ipr
*.ids
*.orig
*.tsbuildinfo
*.log
webpack-stats.json
.env.local
.env.development.local
.env.test.local
.env.production.local
build
dist
coverage
ERD.svg
.eslintcache
